<div class="jumbotron jumbotron-fluid">
  <div class="container" align="center">
    <h1 class="display-3">IRCPLAY GAME</h1>

    <div
      class="main-view"
      style="background-color: aliceblue; width: 75%"
      *ngIf="running || showResult"
    >
      <div class="col-lg-4" *ngFor="let item of output">
        <br />
        <div class="img-container" *ngFor="let name of item.img">
          <svg
            class="bd-placeholder-img rounded-circle"
            width="140"
            height="140"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: 140x140"
          >
            <title>{{ name }}</title>
            <rect width="100%" height="100%" fill="#999999"></rect>
            <text style="text-anchor:middle" dy="50%" dx="50%">{{ name }}</text>
          </svg>
        </div>
        <br />
        <p>{{ item.text }}</p>
        ~~~~~~~~~~~~~~~
      </div>
    </div>
    <div>
      <button class="btn btn-primary" (click)="run()" *ngIf="!running">
        Run Game
      </button>
      <button class="btn btn-primary" (click)="advance()" *ngIf="running">
        Advance
      </button>
    </div>
  </div>
</div>
